@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
}

:root {
  scroll-behavior: smooth;
}
